{% extends "base_generic.html" %}
{% load i18n %}
{% block content %}
  <h1>Technical Specification </h1>

  <p><strong>Version:</strong> {{ technicaldata.name }}</p> 
  <p><strong>Engery_input:</strong> {{ technicaldata.energy_input }} kW</p>
  <p><strong>Mechanical_output:</strong> {{ technicaldata.mechanical_output }} kW</p> 
  <p><strong>Electrical_output:</strong> {{ technicaldata.electrical_output }} kW</p>  
  <p><strong>Thermal_output:</strong> {{ technicaldata.thermal_output }} kW</p>  
  <p><strong>NOx_emission:</strong> {{ technicaldata.NOx_emission }} mg/m3</p>

{% endblock %}